services:
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=motors'
      - 'POSTGRES_PASSWORD=mudar321'
      - 'POSTGRES_USER=postgres'
    ports:
      - '5432:5432'
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    depends_on:
      postgres:
        condition: service_healthy
    build: .
    container_name: taykarus-motors-app
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/motors
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=mudar321
